<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href='../public/bootstrap-4.5.0/dist/css/bootstrap.min.css'>
<style>
    html,
    body,
    .container-fluid {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

   @media (min-width: 768px){
    .container-fluid {
        background: url('../image/register_banner.jpg') no-repeat;
        background-size: cover;
    }
   }
    @media (max-width:768px) {
        .center,#col, .list, .card{
            height: 100% !important;
        }

    }
</style>

<body>
    <div class="modal fade" id="promptBox" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class='modal-dialog'>
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title " >警告</h5>
                    <button type="button" class="close" data-dismiss="modal"> 
                        <span aria-hidden="true"> &times; </span>
                    </button>
                </div>
                <div class="modal-body">
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid p-0 p-md-2">
        <div class="row w-100 d-flex justify-content-md-center m-0" id="col">
            <div class="col-12 col-md-6 col-lg-5 col-xl-4 mt-md-5 p-md-2 p-0 center">
                <div class="card  p-0">
                    <div class="card-header text-center">
                        图书管理系统登陆
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-group text-center">
                                <label for="">一般用户:</label>
                                <input type="radio" name="user" value="ordinary" id="" checked class="form-radio mr-5">
                                <label for="">超级用户:</label>
                                <input type="radio" name="user" value="super" id="" class="form-radio">

                            </div>
                            <div class="form-group">
                                    <label for="">用户名：</label>
                                    <input type="text" placeholder="请输入6-11位纯数字用户名"  name="userName" class="form-control">
                                </div>
                            <div class="form-group">
                                <label for="">密码：</label>
                                <input type="password" name="userPassword" placeholder="请输入6-11位包含数字和英文的密码" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="">验证码:</label>

                                <div class="form-row">

                                    <input type="text" placeholder="请输入验证码" name="verificationCode" class="form-control col-6 mr-5" id="">

                                    <div id="verificationCode" style="line-height: 30px; font-size: 20px;" class="col border rounded ml-5 bg-dark text-light text-center font-weight-bold text-uppercase">
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <span href="#" class="btn btn-primary" id="login" >登录</span>
                                <a href="../view/register.html" class="btn btn-primary">注册</a>
                            </div>

                        </form>
                    </div>
                    <div class="card-footer text-center">
                        江西工业工程职业技术学院@徐科
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="../public/js/jQuery.js"></script>
    <script src="../public/bootstrap-4.5.0/dist/js/bootstrap.min.js"></script>
    <script src="../public/js/tool.js"></script>
    <script src="../public/js/login.js"></script>
</body>

</html>